* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
	scroll-behavior: smooth;
}
@font-face {
	font-family: "Bebas";
	src: url(../font/Bebas-Regular.ttf);
}
@font-face {
	font-family: "Coolvetica";
	src: url(../font/coolvetica\ rg.otf);
}
@font-face {
	font-family: "Poppins";
	src: url(../font/Poppins-Light.ttf);
}
@font-face {
	font-family: "Bebas Neue";
	src: url(../font/BebasNeue-Regular.otf);
}
body {
	/* ###  */
	overflow-x: hidden;
	/* ### */
	background-color: #fdf8e1;
}
header {
	background-color: #f5f5ba;
	width: 100%;
	display: flex;
	padding: 1em;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	color: #1e4f2a;

	/* ##  */
	z-index: 99;
}
header .logo {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-left: 3em;
}
header .logo h1 {
	font-size: 1.5em;
	font-family: "Agency FB", arial;
	font-weight: lighter;

	/* ##  */
	white-space: nowrap;
}

/* ##  */
header > button {
	border: none;
	background: none;
	display: none;
	outline: none;
}
header > button i {
	font-size: 2em !important;
}
header .logo img {
	width: 20px;
	height: 40px;
}
header nav {
	display: flex;
	gap: 60px;
	margin-right: 3em;
}
header nav a {
	font-family: "Coolvetica";
	color: #1e4f2a;
	font-size: 1.2em;
	text-decoration: none;
}
section#head {
	background-color: #f5f5ba;
	width: 100%;
	height: 100vh;
	display: flex;
	padding-bottom: 9em;
	background-image: url(../media/padi.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}
section#head img {
	margin: auto;
}
section#predict {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: url(../media/padi\ kicil1.png);
	background-size: 85%;
	background-repeat: no-repeat;
	background-position: center 110%;
}
section#predict h1 {
	font-family: "Bebas";
	color: #80b918;
	font-size: 2em;
	margin-bottom: 1em;
}
section#predict p {
	font-family: "Poppins";
	color: #a47e1b;
	max-width: 800px;
	width: 50%;
	text-align: center;
	margin-bottom: 1em;
}
section#predict div.butt {
	height: 100px;
	display: flex;
}
section#predict button {
	border: none;
	color: #fdf8e1;
	letter-spacing: 2px;
	font-size: 1.5em;
	text-decoration: none;
	background-color: #80b918;
	padding: 0.5em 1em 0.5em 1em;
	border-radius: 0.6em;
	border-bottom: 5px solid #2b9348;
	font-family: "Bebas";
	transition: 0.2s;
	margin: auto;
}
section#predict button:active {
	border: none;
}

section#impact {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 5em 1em 2em;
}
section#impact h1 {
	font-family: "Bebas Neue";
	color: #80b918;
	font-size: 2.5em;
	font-weight: lighter;
	margin-bottom: 0.5em;
}
section#impact p {
	font-family: "Poppins";
	color: #a47e1b;
	max-width: 800px;
	width: 80%;
	margin-bottom: 1em;
}

section#impact .item {
	display: flex;
	gap: 1.8em;
}
section#impact .item.kebalik {
	flex-direction: row-reverse;
}
section#impact .item.kebalik {
	text-align: end;
}
section#impact .item.kebalik p {
	margin: auto;
	text-align: center;
}
section#impact .item img {
	min-width: 150px;
	border-radius: 1em;
	height: 180px;
}
section#impact .item {
	text-align: justify;
	margin-top: 5em;
}
section#impact .item h2 {
	font-family: "Bebas";
	letter-spacing: 2px;
	color: #a47e1b;
	font-size: 2em;
	margin-bottom: 0.3em;
}

section#framing {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 5em 2em;
}
section#framing h1 {
	font-family: "Bebas Neue";
	color: #80b918;
	font-weight: lighter;
	font-size: 2.5em;
	margin-bottom: 0.3em;
}
section#framing p {
	font-family: "Poppins";
	color: #a47e1b;
	max-width: 800px;
	width: 80%;
	margin-bottom: 3em;
}

section#framing .items {
	display: grid;
	gap: 2em;
	width: 100%;
	max-width: 768px;
	grid-template-columns: 50% 50%;
}

section#framing .items > div {
	font-family: "Poppins";
	color: #a47e1b;
	max-width: 800px;
	background-color: #f5f5ba;
	padding: 1em;
	font-size: 2em;
	border-radius: 1em;
}

section#framing .items section#main {
	display: flex;
	width: 100%;

	/* ## ; */
	height: 100vh;
	max-height: 758px;
	padding: 2em;
	/* ##  */
}

/* ##  */
section#main .content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	/* ##  */
	margin: auto;
}
section#main .content img {
	border-radius: 3%;
	/* ##  */
	margin-top: 200px;
	width: 100%;
	max-width: 600px;
	height: 400px;
	/* ##  */
}
section#main .content h1 {
	translate: -50% -50%;
	position: absolute;
	top: 200px;
	left: 50%;
	font-size: 2em;
	font-family: "Bebas";
	letter-spacing: 2px;
	background-color: #a47e1b;
	color: #f5f5ba;
	border-radius: 10px;
	width: 18%;
	height: 15%;
	padding: 30px 20px;
	text-align: center;
}
section#main .content a {
	margin-top: 10px;
	margin-left: 300px;
	text-decoration: none;
	color: #a47e1b;
	font-family: "Poppins";
	font-weight: bold;
	letter-spacing: 1.5px;
}
section#list {
	display: flex;
	width: 100%;
	font-family: "Coolvetica";
	text-align: center;
	color: #a47e1b;
	/* ##  */
	flex-wrap: wrap;
	padding: 1em;
	gap: 1em;
	/* ##  */
	margin-top: 3em;
	justify-content: space-around;
}

/* ##  */
section#list > div {
	max-width: 400px;
}
section#list .collapse .atas p {
	font-size: 1.4em;
}
/* ##  */
section#list .collapse .atas {
	padding: 2em;
}
section#list .collapse {
	border-bottom: 8px solid #a47e1b;
	transition: 0.2s;

	/* ##  */
	width: 100%;

	background: white;
	margin-bottom: 2em;
	border-radius: 1.5em;
}
section#list .collapse:active {
	border: none;
}

/* ##  */
section#list .collapse .bawah img {
	border-radius: 1em;
	width: 100%;
	height: 200px;
}
section#list .collapse .bawah p {
	margin-top: 1em;
	text-align: justify;
}
section#list .collapse .bawah {
	height: 0;
	overflow: hidden;
	transition: 0.5s;
}

section#list .collapse.open .bawah {
	height: 505px;

	/* ##  */
	padding: 2em;
	overflow: auto;
}
section#contact {
	display: flex;
	width: 100%;
	min-height: 10vh;
	font-family: "Coolvetica";
	text-align: center;
	color: #a47e1b;
	/* ##  */
	flex-direction: column;
	align-items: center;
	/* ##  */
	margin-top: 7em;
	justify-content: space-around;
}
section#contact h1 {
	font-family: "Bebas Neue";
	color: #80b918;
	font-size: 2.5em;
	margin-top: 3em;
	font-weight: lighter;
}
section#contact p {
	font-family: "Poppins";
	color: #a47e1b;
	max-width: 800px;
	width: 80%;
}
section#contact .medsos a {
	text-decoration: none;
	color: black;
	display: block;
	font-family: "Poppins";
}
section#contact span {
	color: black;
}
section#contact .medsos img {
	width: 40%;
}
section#contact .medsos table {
	margin-top: 5em;
	margin-bottom: 10em;
}
footer {
	display: flex;
	width: 100%;
	font-family: "Coolvetica";
	text-align: center;
	background-color: #f5f5ba;
	/* ##  */
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/* ##  */
	margin-top: 7em;
}
footer .logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	margin-top: 30px;
	margin-bottom: 5em;
}
footer h2 {
	margin-bottom: 3em;
	font-family: "Poppins";
	color: #a47e1b;
	text-align: center;
	width: 800px;
}
footer h1 {
	font-size: 3em;
	font-family: "Agency FB", arial;
	font-weight: lighter;
	color: #80b918;
	/* ##  */
	white-space: nowrap;
}
/* MEDIA QUERIES AWOKAWOK  */
/* table blm responsive */
@media only screen and (max-width: 768px) {
	header .logo {
		margin-left: 0;
	}
	header nav {
		position: absolute;
		top: 110%;
		background-color: #f5f5ba;
		border-radius: 1em;
		flex-direction: column;
		right: 1em;
		height: 0;
		transition: 0.2s;
		gap: 10px;
		margin: 0;
		overflow: hidden;
		border: 0px solid #a47e1b;
	}
	header > button {
		display: block;
	}
	header nav.open {
		height: auto;
		padding: 1em;
		border-width: 1px;
	}
	section#impact .item,
	section#impact .item.kebalik {
		flex-direction: column;
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
	}
	section#impact .item img {
		width: 20%;
		height: 20%;
	}
	section#impact .item h2 {
		font-size: 1.5em;
	}
	section#impact .item p {
		margin: auto;
	}
	section#main .content {
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin: auto;
	}
	section#main .content h1 {
		position: absolute;
		top: 170px;
		left: 0;
		margin-left: 35vw;
		font-size: 1.8em;
		width: 30%;
		padding: 20px 20px;
	}
	section#main .content img {
		width: 70%;
		height: 70%;
	}
	section#framing .items {
		grid-template-columns: 100%;
	}
	section#framing .items > div {
		font-size: 1.4em;
	}
	footer h2.isi {
		width: 90%;
	}
}
