/* input[type=button]{
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin:0px auto; 
  display:block;
  cursor: pointer;
} */

html {
	width: 100%;
}

body {
	width: 100%;
}

.title-space {
	word-spacing: 0.15em;
}

form {
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 100px;
}

/* .button {
	margin-left: 20px;
} */

.image img {
	width: auto;
	height: auto;
}

.img-style {
	width: 300px;
	height: 400px;
	display: none;
	padding: 20px;
}

.error-box {
	height: 65vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.error {
	color: hsl(171, 100%, 41%);
	font-size: 8em;
}


.marrig{
	margin-left: 40px;
}

/* .tobet{
	margin: 100px 0;
	margin-top: 100px;
} */
